.footer {
  height: 475px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.footer-links {
  display: flex;
  width: 100%;
  gap: 15vw;
  flex-wrap: wrap;
}

h6 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #0e2d22;
  margin-bottom: -6px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.contact-info,
.contact-address,
.footer-company,
.footer-legal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-company a,
.footer-legal a,
.footer-links p {
  text-decoration: none;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0e2d22;
}

a:hover {
  transform: scale(1.05);
}

.footer-company,
.footer-contact,
.footer-legal {
  min-width: 135px;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.blue-logo img {
  width: 140px;
  height: 100px;
}

.bear img {
  width: 59px;
  height: 70px;
}

.social-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.social-links img {
  height: 25px;
}

.legal {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.54px;
  color: #0e2d22;
  margin-top: 19px;
  position: absolute;
  left: 29px;
  bottom: 9px;
}
